<template>
            <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title mb-0">Carreras</h3> 
                </div> 
            </div>
           
            <div class="content-body">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header"> 
                        <button v-if="validate().Registrar" type="button" @click="abrirModal('carrera','registrar')" class="btn btn-info">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                        <button v-if="validate().Reporte_ver" type="button" class="btn btn-secondary" @click="ReporCarrera()">
                            <i class="icon-doc"></i>&nbsp;Reporte
                        </button> &nbsp;
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarCarrera(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarCarrera(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Carrera</th>
                                    <th>Nivel Academico</th>
                                    <th>Universidad/Insituto</th>
                                    <th>Observacion</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="carrera in arrayCarrera" :key="carrera.id" :style="carrera.estado!=1?'background-color: lightgray;':''">
                                    <td  style="width:100px; text-align:center"> 
                                        <template v-if="carrera.estado==1">
                                            <button v-if="validate().Modificar" type="button" @click="abrirModal('carrera','actualizar',carrera)" class="btn btn-warning btn-sm">
                                                 <i class="ft-check-square"></i>
                                           </button> <br>
                                            <button v-if="validate().Desactivar" type="button" class="btn btn-danger btn-sm" @click="desactivarCarrera(carrera.id)">
                                                <i class="ft-trash-2"></i>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button v-if="validate().Activar" type="button" class="btn btn-success btn-sm" @click="activarCarrera(carrera.id)">
                                                <i class="ft-check"></i>
                                            </button>
                                        </template>
                                    </td>
                                    <td v-text="carrera.nombre" ></td>
                                    <td v-text="carrera.nivel" ></td>
                                    <td v-text="carrera.instituto" ></td>
                                    <td v-text="carrera.observacion"></td>
                                    <td  style="width:100px; text-align:center">
                                        <div v-if="carrera.estado">
                                            <span class="badge badge-success">Activo</span>
                                        </div>
                                        <div v-else>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </div>
                                        
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           
                        </div>
                        <div class="modal-footer">
                           
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>






                        
 <div class="modal fade text-left" id="modcarreras" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-warning white">
                                  <h4 class="modal-title" v-text="tituloModal"></h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                     <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Univeridad/Instituto</label>
                                    <div class="col-md-10">
                                        <select class="form-control" v-model="idinstituto">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="instituto in arrayInstituto" :key="instituto.id" :value="instituto.id" v-text="instituto.nombre"></option>
                                        </select>                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Carrera(*)</label>
                                    <div class="col-md-10">
                                        <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de Universidad/Instituto">                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Nivel Academico</label>
                                    <div class="col-md-10">
                                        <select class="form-control" v-model="nivel">
                                            <option value="0" disabled>Seleccione</option>
                                            <option value="TECNICO MEDIO">TECNICO MEDIO</option>
                                            <option value="TECNICO SUPERIOR">TECNICO SUPERIOR</option>
                                            <option value="LICENCIATURA">LICENCIATURA</option>
                                            <option value="DIPLOMADO">DIPLOMADO</option>
                                            <option value="MAESTRIA">MAESTRIA</option>
                                            <option value="DOCTORADO">DOCTORADO</option>
                                        </select>                                        
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <label class="col-md-2 form-control-label" for="email-input">Observacion</label>
                                    <div class="col-md-10">
                                        <input type="observacion" v-model="observacion" class="form-control" placeholder="Observacion">
                                    </div>
                                </div>

                                <div v-show="errorCarrera" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjCarrera" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>

                            </form>
                                </div>
                                <div class="modal-footer"> 
                                  <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarCarrera()">Guardar</button>
                            <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarCarrera()">Actualizar</button>
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
    </div>
            <!--Fin del modal-->
        </div>
</template>

<script>
    export default {
         props: [
            'ip','permisos'
        ],
        data (){
            return {
                arrayPermisos:{Registrar:true,Activar:true,Desactivar:true,Modificar:true,Reporte_ver:true},
                carrera_id: 0,
                nombre : '',
                idinstituto : 0,
                observacion : '',
                nivel : '',
                arrayCarrera : [],
                arrayInstituto : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                errorCarrera : 0,
                errorMostrarMsjCarrera : [],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'nombre',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
        methods : {
             validate(){ 
               return window.app.validate(this.permisos);
             },
            listarCarrera (page,buscar,criterio){
                let me=this;
                var url= '/carrera?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayCarrera= respuesta.carreras.data;
                    me.pagination= respuesta.pagination;
                }).then(function (response) {
                    console.log(response);    
                });
               
            },
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarCarrera(page,buscar,criterio);
            },
            selectInstituto(){
                let me=this;
                var url= '/instituto/selectInstituto';
                axios.get(url).then(function (response) {
                    //console.log(response);
                    var respuesta= response.data;
                    me.arrayInstituto = respuesta.institutos;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            registrarCarrera(){
                if (this.validarCarrera()){
                    return;
                }
                
                let me = this;

                axios.post('/carrera/registrar',{
                    'iduniversidad': this.idinstituto,
                    'nombre': this.nombre,
                    'nivel': this.nivel,
                    'observacion' : this.observacion,

                }).then(function (response) {
                    me.cerrarModal();
                    me.listarCarrera(1,'','nombre'); 
                }).catch(function (error) {
                    console.log(error);
                });
            },
            actualizarCarrera(){
               if (this.validarCarrera()){
                    return;
                }
                let me = this;
                axios.put('/carrera/actualizar',{
                    'iduniversidad': this.idinstituto,
                    'nombre': this.nombre,
                    'nivel': this.nivel,
                    'observacion' : this.observacion,
                    'id': this.carrera_id,
                }).then(function (response) {
                    //console.log(response);
                    me.cerrarModal();
                    me.listarCarrera(1,'','nombre');
                }).catch(function (error) {
                    console.log(error);
                }); 
            },
            validarCarrera(){
                this.errorCarrera=0;
                this.errorMostrarMsjCarrera =[];
                if (this.idinstituto==0) this.errorMostrarMsjCarrera.push("Seleccione una Universidad o Instituto.");
                if (!this.nombre) this.errorMostrarMsjCarrera.push("El nombre de la Universidad o Carrera no puede estar vacío.");
                if (!this.nivel) this.errorMostrarMsjCarrera.push("Seleccione un nivel Academico de estudio.");
                if (this.errorMostrarMsjCarrera.length) this.errorCarrera = 1;

                return this.errorCarrera;
            },
            cerrarModal(){
              $('.modal').modal('hide');
                this.tituloModal='';
                this.nombre='';
                this.nivel='';
                this.iduniversidad='';
                this.observacion='';
                this.errorCarrera=0;
            },
            abrirModal(modelo, accion, data = []){
                switch(modelo){
                    case "carrera":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                 $('#modcarreras').modal('show');
                                this.tituloModal = 'Registrar Carrera de Estudio';
                                this.idinstituto=0;
                                this.nombre= '';
                                this.nivel= '';
                                this.observacion= '';
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            {
                                //console.log(data);
                                 $('#modcarreras').modal('show');
                                this.tituloModal='Actualizar Carrera de Estudio';
                                this.tipoAccion=2;
                                this.carrera_id=data['id'];
                                this.idinstituto=data['iduniversidad'];
                                this.nombre = data['nombre'];
                                this.nivel = data['nivel'];
                                this.observacion = data['observacion'];
                                break;
                            }
                        }
                    }
                    this.selectInstituto();
                }
            },
            desactivarCarrera(id){
               swal({
                title: 'Esta seguro de desactivar este carrera?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/carrera/desactivar',{
                        'id': id
                    }).then(function (response) {
                        me.listarCarrera(1,'','nombre');
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            activarCarrera(id){
               swal({
                title: 'Esta seguro de activar esta Carrera?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/carrera/activar',{
                        'id': id
                    }).then(function (response) {
                        me.listarCarrera(1,'','nombre');
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            ReporCarrera(){
                //window.open('http://127.0.0.1:8000/reporteIndividual?per_codigo='+per_codigo);
                window.open(this.ip+'/reporteCarrera');
            },
        },
        mounted() {
            this.listarCarrera(1,this.buscar,this.criterio);
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
