<template>
         
        <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title mb-0">Resultado</h3> 
        </div> 
      </div>
            <div class="content-body">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Encuestas  
                        
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                      <option value="descripcion">Detalle</option> 
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarPersona(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarPersona(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="    width: 140px;">Opciones</th>
                                    <th>Nombre</th>  
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="encuesta in arrayEncuestas" :key="encuesta.id">
                                    <td v-if="encuesta.estado==2">
                                        <button  type="button" @click="abrirModal( encuesta)" class="btn btn-success btn-sm">
                                          <i class="ft-check"></i>  &nbsp; Ver encuesta
                                        </button> 
                                    </td> 
                                    <td v-else ></td>
                                    <td v-text="encuesta.nombre"></td>
                                    <td v-text="encuesta.descripcion"></td>  
                                </tr>                                
                            </tbody>
                        </table>
                        
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

 

<div class="modal fade text-left" id="listadoencuestaform" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-primary white">
                                  <h4 class="modal-title" >{{encuestaselected!=null?encuestaselected.nombre:''}}</h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body" style="overflow-x: auto; max-height: 650px;" v-if="tablaloading" >
                                      <table v-if="encuestaselected!=null" class="table table-bordered table-striped table-sm"> 
                                        <tbody>
                                            <tr v-for="pregunta in encuestaselected.preguntas" :key="pregunta.id">
                                                <td> 
                                                   <div class="row">
                                                        <label class="col-md-12 form-control-label h4" for="text-input">{{pregunta.pregunta}}</label> 
                                                        
                                                    </div>
                                                   <div v-if="pregunta.respuestas.length>0" > 
                                                        <div  >
                                                            <div class="col-md-12 col-form-label">
                                                                    <div class="col-md-6 row" v-for="respuesta in pregunta.respuestas" :key="respuesta.id">
                                                                  <!-- aqui poner la imagen -->
                                                                        <label style="    text-align: right;" class="col-md-3" >{{respuesta.respuesta}}</label>
                                                                        <div class="progress col-md-9 p-0">
                                                                          <div class="progress-bar bg-info" role="progressbar" :style="'width: '+ getporcent(pregunta.count,respuesta.count) +'%; margin-top: auto; margin-bottom: auto;'" aria-valuemin="0" aria-valuemax="100">{{ getporcent(pregunta.count,respuesta.count) }}%</div>
                                                                       </div>
                                                                    </div> 
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </td> 
                                            </tr>                           
                                        </tbody>
                                    </table> 
                                </div>
                                <div class="modal-footer"> 
                                    <button type="button" @click="getpdf()" class="btn btn-warning"><i class="fa fa-file-pdf-o"></i> Descargar formulario</button>
                                   <button type="button" class="btn grey btn-outline-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
                          </div>
<div class="modal fade text-left" id="listadoencuestaform2" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-primary white">
                                  <h4 class="modal-title" >{{encuestaselected!=null?encuestaselected.nombre:''}}</h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body" style="overflow-x: auto; max-height: 650px;" >
                                       <div class="row" style="padding: 10px;"> 
                                            <div class="col-md-12" style="border: 1px solid gray;padding-top: 26px;" v-for="(pregunta,key) in arrayGraficos" :key="key">
                                                
                                                   <div>
                                                        <label class="col-md-12 form-control-label h4" style="font-weight: bold;" for="text-input">- {{pregunta.pregunta}}</label>  
                                                        <label class="col-md-12 form-control-label " for="text-input"> {{pregunta.total}} Respuestas</label>  
                                                    </div>
                                                   <div> 
                                                       <img class="imgtt" :src="pregunta.img" style="width: 100%;">
                                                    </div>
                                                 
                                            </div>                           
                                         </div> 
                                </div>
                                <div class="modal-footer"> 
                                    <button type="button" @click="getpdf()" class="btn btn-warning"><i class="fa fa-file-pdf-o"></i> Descargar formulario</button>
                                   <button type="button" class="btn grey btn-outline-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
                          </div>

            <div class="modal fade text-left" id="reporteencuesta" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                                    aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary white">
                                            <h4 class="modal-title" >Reporte</h4>
                                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body" style="overflow-x: auto; max-height: 650px;" v-if="datareporte!=null">
                                              <iframe id="printpdf" name="printpdf" :src="datareporte" style="width:100%;height:800px;" allowfullscreen></iframe>
                                            </div>
                                            <div class="modal-footer">  
                                            <button type="button" class="btn grey btn-outline-secondary" @click="cerrarModal()">Cerrar</button>
                                            </div>
                                        </div>
                                        </div>
                    </div>

            </div>
    </div>
</template>

<script>
    export default {
        props: [
            'ip'
        ],
        data (){
            return {
               
                nombre : '', 
                descrip : '', 
                arrayEncuestas : [], 
                arrayRespuestas : [],  
                arrayGraficos : [], 
                encuestaselected : null,
                datareporte : null,
                tablaloading : false,
                modal : 0, 
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'nombre',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
       
        methods : {
            getpdf(){
                  
                // axios.post('/encuestasReporte',{
                //     'data': this.encuestaselected 
                // }).then(function (response) { 
                //    me.datareporte=response.data;
                //    $('.modal').modal('hide');
                //     $('#reporteencuesta').modal('show');
                // }).catch(function (error) {
                //     console.log(error);
                // });
                $('.modal').modal('hide');
                window.open(this.ip+'/encuestasReporte?idencuesta='+this.encuestaselected.id);
            },
            getporcent(cien,buscar){
                if(buscar>0)
                return _.round((buscar*100)/cien, 2);
                else
                return 0;
            },
              cerrarModal(){
                // this.modal=0;  
                $('.modal').modal('hide');
                this.encuestaselected=null;
                this.datareporte=null;
            },
              abrirModal(data = []){  
                  let me=this; 
                  this.tablaloading=false;
                   this.encuestaselected=data; 
                   this.arrayGraficos=[]; 
                   swal({
                        title: "Preparando datos",
                        allowOutsideClick: () => false,
                        allowEscapeKey: () => false,
                        onOpen: function() {
                        swal.showLoading();
                        }
                    }); 
                //   this.getencuestaprincipal(this.encuestaselected.id);
this.getgraficos();
 

            },isUndefined(val) {
                return typeof val === 'undefined';
            },getgraficos(){
                let me=this;
                axios.get('/encuestasReportemain?idencuesta='+this.encuestaselected.id).then(function (response) {
                   me.arrayGraficos= response.data.gm;
                   swal.close();
                   $('#listadoencuestaform2').modal('show');
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
             getencuestaprincipal(idencuesta){
                 let me=this; 
                axios.get('/encuestararesultadoid?id=' +  idencuesta).then(function (response) {
                    me.arrayRespuestas= response.data;
                   
                   _.forEach(me.encuestaselected.preguntas, function(preguntas) {
                            preguntas.count=0;
                            _.forEach(preguntas.respuestas, function(respuestas) { 
                                respuestas.count=0;
                                    _.forEach(me.arrayRespuestas, function(o){
                                        if(o.idencuesta == me.encuestaselected.id&&o.idpreguntas == preguntas.id&&o.idrespuesta == respuestas.id){
                                            respuestas.count++;
                                            preguntas.count++;
                                        }
                                    });

                            });
                    });
 
                    //  me.modal = 2; 
                     
                     setTimeout(() => {
                         swal.close();
                         $('#listadoencuestaform').modal('show');

                         me.tablaloading=true;
                     }, 1000);
                })
                .catch(function (error) {
                    console.log(error);
                });
             },
            listarPersona (page,buscar,criterio){
                let me=this;
                var url= '/listaencuestaresultado?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayEncuestas = respuesta.listaencuesta.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            }, 
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarPersona(page,buscar,criterio);
            }, 
          
             
        },
        mounted() {
           this.encuestaselected =null; 
           this.listarPersona(1,this.buscar,this.criterio); 
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
