<template>
       


   <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title mb-0">Encuesta</h3> 
        </div> 
      </div>
            <div class="content-body">
<div class="card">
                    <div class="card-header"> 
                        <button type="button" @click="abrirModal('registrar')" class="btn btn-info">
                            <i class="ft-plus"></i>&nbsp;Nuevo
                        </button> &nbsp;
                       <button type="button" @click="openfile('registrar')" class="btn btn-info">
                            <i class="fa fa-file-excel-o"></i>&nbsp;Cargar archivo excel
                        </button>
                        
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                      <option value="descripcion">Detalle</option> 
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarPersona(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarPersona(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 240px;">Opciones</th>
                                    <th>Nombre</th>  
                                    <th>Descripción</th>
                                    <th>Fecha de creación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="encuesta in arrayEncuestas" :key="encuesta.id">
                                    <td v-if="encuesta.estado==1" class="row" style="margin: 0;">
                                        <button  type="button" @click="abrirModal('preguntas',encuesta)" class="btn btn-success btn-sm col-md-12">
                                          <i class="ft-check"></i>  &nbsp; Diseño
                                        </button> 
                                         <button  type="button" @click="abrirModal('modificar',encuesta)" class="btn btn-warning btn-sm col-md-6">
                                          <i class="ft-check"></i>  &nbsp; Modificar
                                        </button>
                                         <button  type="button" @click="deleteencuesta(encuesta)" class="btn btn-danger btn-sm col-md-6">
                                          <i class="ft-trash-2"></i>  &nbsp; Eliminar
                                        </button>
                                    </td>
                                    <td v-else-if="encuesta.estado==2"> Procesado </td>
                                    <td v-else ></td>
                                    <td v-text="encuesta.nombre"></td>
                                    <td v-text="encuesta.descripcion"></td>  
                                    <td>{{encuesta.created_at | formatDate}}</td>  
                                </tr>                                
                            </tbody>
                        </table>
                        
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
 
                <div class="modal fade text-left" id="regencuesta" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-success white">
                                  <h4 class="modal-title" id="myModalLabel1">Registro de la encuesta</h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                     <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-2 form-control-label" for="text-input">Nombre(*)</label>
                                            <div class="col-md-10">
                                                <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de la encuesta">                                        
                                            </div> 
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-md-2 form-control-label" for="text-input">Descripción(*)</label>
                                            <div class="col-md-10"> 
                                                <textarea class="form-control" v-model="descrip" rows="3"></textarea>                                       
                                            </div>
        
                                        </div>
        
                                    </form>
                                </div>
                                <div class="modal-footer"> 
                                  <button type="button" v-if="nombre.length>0&&descrip.length>0" class="btn btn-outline-primary" @click="registrarencuesta()">Guardar</button> 
                                   <button type="button" class="btn grey btn-outline-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
                          </div>

<div class="modal fade text-left" id="regexcel" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-success white">
                                  <h4 class="modal-title" id="myModalLabel1">Registro de la encuesta por excel</h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                      <div class="col-lg-6 col-md-12">
                                        <fieldset class="form-group">
                                        <label for="basicInputFile">Seleccione el arcrivo</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputes" @change="previewFiles"> 
                                            <label class="custom-file-label" for="inputes">Seleccione archivo</label>
                                        </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="modal-footer"> 
                                   <a href="/getexcel" class="btn btn-warning"><i class="fa fa-file-excel-o"></i> Descargar formulario</a>
                                   <button type="button" v-if="arrayexcel.length>0" class="btn btn-outline-primary" @click="procesarexcel()">Registrar datos</button> 
                                   <button type="button" class="btn grey btn-outline-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
     </div>


 <div class="modal fade text-left" id="modencuesta" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-warning white">
                                  <h4 class="modal-title" id="myModalLabel1">Modificación de la encuesta</h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                   <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-2 form-control-label" for="text-input">Nombre(*)</label>
                                            <div class="col-md-10">
                                                <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de la encuesta">                                        
                                            </div> 
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-md-2 form-control-label" for="text-input">Descripción(*)</label>
                                            <div class="col-md-10"> 
                                                <textarea class="form-control" v-model="descrip" rows="3"></textarea>                                       
                                            </div>
        
                                        </div>
        
                                    </form>
                                </div>
                                <div class="modal-footer"> 
                                  <button type="button" v-if="nombre.length>0&&descrip.length>0" class="btn btn-outline-primary" @click="modificacionencuesta()">Modificar</button>  
                                   <button type="button" class="btn grey btn-outline-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
    </div>
  

             <div class="modal fade text-left" id="regpreguntas" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-success white">
                                  <h4 class="modal-title" >{{encuestaselected!=null?encuestaselected.nombre:''}}</h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body" style="overflow-x: auto; max-height: 650px;">
                                        <table v-if="encuestaselected!=null" class="table table-bordered table-striped table-sm"> 
                                        <tbody>
                                            <tr v-for="pregunta in encuestaselected.preguntas" :key="pregunta.id">
                                                <td> 
                                                   <div class="row">
                                                        
                                                        <div class="col-md-9"> 
                                                            <div class="row" style="margin: 0;" >
                                                                <button  type="button" @click="modpregunta(pregunta)" class="btn btn-warning btn-sm col-md-1">
                                                                    <i class="ft-edit"></i>
                                                                </button>  
                                                                <button  type="button" @click="deletepregunta(pregunta)" class="btn btn-danger btn-sm col-md-1">
                                                                    <i class="ft-trash-2"></i>
                                                                </button> 
                                                                <label class="col-md-10 form-control-label h4"  >{{pregunta.pregunta}}</label>
                                                            </div>                     
                                                        </div>
                                                        <div class="col-md-3"> 
                                                          <button  type="button" @click="addrespuesta(pregunta.id)" class="btn btn-success btn-sm">
                                                            <i class="ft-check"></i>  &nbsp; Agregar respuesta
                                                          </button>                                   
                                                        </div>
                    
                                                    </div>
                                                   <div v-if="pregunta.respuestas.length>0" > 
                                                        <div style="margin-left: 10%;">
                                                            <div class="col-md-12 col-form-label">
                                                                    <div class="form-check" v-for="respuesta in pregunta.respuestas" :key="respuesta.id">
                                                                            <button  type="button" @click="modrespuesta(respuesta)" class="btn btn-info btn-sm ">
                                                                                <i class="ft-edit"></i>
                                                                            </button>
                                                                            <button  type="button" @click="deleterespuesta(respuesta)" class="btn btn-danger btn-sm ">
                                                                                <i class="ft-trash-2"></i>
                                                                            </button>
                                                                    <label class="  form-control-label "  >{{respuesta.respuesta}}</label>
                                                                    </div> 
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </td> 
                                            </tr>                           
                                        </tbody>
                                    </table> 
                                </div>
                                <div class="modal-footer"> 
                                  <button type="button"  class="btn btn-outline-primary" @click="addpregunta()">Agregar pregunta</button> 
                                   <button type="button" class="btn grey btn-outline-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
                          </div>
    </div>
</template>

<script>
import readXlsxFile from 'read-excel-file';

    export default {
        props:['permisos'],
        data (){
            return {
               arrayPermisos:{i:0},
                nombre : '', 
                descrip : '', 
                arrayEncuestas : [], 
                arrayexcel : [], 
                encuestaselected : null,
                modal : 0, 
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'nombre',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
        watch:{
            arrayEncuestas: function (val) { 
                if(this.encuestaselected!=null)
                this.busqueda(val);
            }
        },
        methods : {
            busqueda(val){
                let me = this; 
                var busqueda= _.find(val, function(o) { return o.id == me.encuestaselected.id; }); 
                if(!this.isUndefined(busqueda)){
                    this.encuestaselected=busqueda;
                }else{
                    me.cerrarModal();
                    me.listarPersona(1,'','nombre'); 
                }
            },
           isUndefined(val) {
                return typeof val === 'undefined';
            },
            deleteencuesta(inpre){
                  swal({
                title: 'Esta seguro de eliminar esta Encuesta?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger', 
                reverseButtons: true,
                showLoaderOnConfirm: true,
                }).then((result) => {
                if (result.value) {
                    let me = this;
                      axios.post('/encuesta/delete',{
                            'id': inpre.id 
                        }).then(function (response) { 
                            me.listarPersona(1,'','nombre');
                            swal(
                                'Eliminado exitosamente ',
                                ' ',
                                'success'
                                );
                        }).catch(function (error) {
                            console.log(error);
                        });
                    
                }  
                }); 
            },
            addpregunta(){
                $('.modal').modal('hide');
                   let me = this;
                swal({
                title: 'Ingrese la pregunta',
                input: 'text', 
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Registrar',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger', 
                reverseButtons: true,
                showLoaderOnConfirm: true,
                preConfirm: (pregunta) => { 
                        if(pregunta.length>0){
                             return pregunta;
                        }else{ 
                             return false;
                        }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then(function (result) { 
                $('#regpreguntas').modal('show'); 
                if (result.value) { 
                        axios.post('/pregunta/registrar',{
                            'id': me.encuestaselected.id,
                            'pre': result.value
                        }).then(function (response) { 
                            me.listarPersona(1,'','nombre');
                            swal(
                                'Registro exitoso ',
                                ' ',
                                'success'
                                );
                        }).catch(function (error) {
                            console.log(error);
                        });
                }  
            });
            },
            modpregunta(inpre){
                 $('.modal').modal('hide');
                 let me = this;
                swal({
                title: 'Ingrese la pregunta',
                input: 'text', 
                inputValue: inpre.pregunta,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Modificar',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger', 
                reverseButtons: true,
                showLoaderOnConfirm: true,
                preConfirm: (pregunta) => { 
                        if(pregunta.length>0){
                             return pregunta;
                        }else{ 
                             return false;
                        }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then(function (result) { 
                 $('#regpreguntas').modal('show'); 
                if (result.value) { 
                        axios.post('/pregunta/updata',{
                            'id': inpre.id,
                            'pre': result.value
                        }).then(function (response) { 
                            me.listarPersona(1,'','nombre');
                            swal(
                                'Modificado exitosamente ',
                                ' ',
                                'success'
                                );
                        }).catch(function (error) {
                            console.log(error);
                        });
                }  
            });
            },
             deletepregunta(inpre){
                  swal({
                title: 'Esta seguro de eliminar esta Pregunta?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger', 
                reverseButtons: true,
                showLoaderOnConfirm: true,
                }).then((result) => {
                if (result.value) {
                    let me = this;
                      axios.post('/pregunta/delete',{
                            'id': inpre.id 
                        }).then(function (response) { 
                            me.listarPersona(1,'','nombre');
                            swal(
                                'Eliminado exitosamente ',
                                ' ',
                                'success'
                                );
                        }).catch(function (error) {
                            console.log(error);
                        });
                    
                }  
                }); 
            },
            addrespuesta(idpregunta){
                 $('.modal').modal('hide');
                   let me = this;
                swal({
                title: 'Ingrese la respuesta',
                input: 'text', 
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Registrar',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger', 
                reverseButtons: true,
                showLoaderOnConfirm: true,
                preConfirm: (pregunta) => { 
                        if(pregunta.length>0){
                             return pregunta;
                        }else{ 
                             return false;
                        }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then(function (result) { 
                $('#regpreguntas').modal('show'); 
                if (result.value) { 
                        axios.post('/respuesta/registrar',{
                            'id': idpregunta,
                            'res': result.value
                        }).then(function (response) {  
                            me.listarPersona(1,'','nombre');
                            swal(
                                'Registro exitoso ',
                                ' ',
                                'success'
                                );

                        }).catch(function (error) {
                            console.log(error);
                        });
                }  
            });
            },
            modrespuesta(inres){
                 $('.modal').modal('hide');
                   let me = this;
                swal({
                title: 'Ingrese la respuesta',
                input: 'text', 
                inputValue: inres.respuesta,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Modificar',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger', 
                reverseButtons: true,
                showLoaderOnConfirm: true,
                preConfirm: (pregunta) => { 
                        if(pregunta.length>0){
                             return pregunta;
                        }else{ 
                             return false;
                        }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then(function (result) { 
                $('#regpreguntas').modal('show'); 
                if (result.value) { 
                        axios.post('/respuesta/updata',{
                            'id': inres.id,
                            'res': result.value
                        }).then(function (response) { 
                            me.listarPersona(1,'','nombre');
                            swal(
                                 'Modificado exitosamente ',
                                ' ',
                                'success'
                                );
                        }).catch(function (error) {
                            console.log(error);
                        });
                }  
            });
            },
             deleterespuesta(inpre){
                  swal({
                title: 'Esta seguro de eliminar esta Respuesta?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger', 
                reverseButtons: true,
                showLoaderOnConfirm: true,
                }).then((result) => {
                if (result.value) {
                    let me = this;
                      axios.post('/respuesta/delete',{
                            'id': inpre.id 
                        }).then(function (response) { 
                            me.listarPersona(1,'','nombre');
                            swal(
                                'Eliminado exitosamente ',
                                ' ',
                                'success'
                                );
                        }).catch(function (error) {
                            console.log(error);
                        });
                    
                }  
                }); 
            },
            listarPersona (page,buscar,criterio){
                let me=this;
                var url= '/listaencuesta?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayEncuestas = respuesta.listaencuesta.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
             
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarPersona(page,buscar,criterio);
            },
            registrarencuesta(){ 
                let me = this;
                axios.post('/encuesta/registrar',{
                    'nombre': this.nombre,
                    'descrip': this.descrip 
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarPersona(1,'','nombre');
                    swal(
                        'Registro exitoso ',
                        ' ',
                        'success'
                        );
                }).catch(function (error) {
                    console.log(error);
                });
            },
            modificacionencuesta(){ 
                let me = this;
                axios.post('/encuesta/update',{
                    'id': me.encuestaselected.id,
                    'nombre': this.nombre,
                    'descrip': this.descrip 
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarPersona(1,'','nombre');
                    swal(
                        'Modificado exitosamente ',
                        ' ',
                        'success'
                        );
                }).catch(function (error) {
                    console.log(error);
                });
            },
            
           
            cerrarModal(){
                //this.modal=0; 
                // $('#regencuesta').modal('hide');
                $('.modal').modal('hide'); 
                this.nombre='';
                this.descrip=''; 
                this.arrayexcel=[];
                this.encuestaselected=null;
            },
            openfile(){
                this.arrayexcel=[]; 
                $(".custom-file-label").html("Seleccione archivo");
                $('#regexcel').modal('show'); 
            },
            procesarexcel(){ 
                let me=this;
                axios.post('/encuesta/registrarexcel',{ 
                    'data': this.arrayexcel 
                }).then(function (response) { 
                    me.cerrarModal();
                    me.listarPersona(1,'','nombre');
                    swal(
                        'Registro exitoso ',
                        ' ',
                        'success'
                        );
                }).catch(function (error) {
                    console.log(error);
                });
            },
            previewFiles(event){
                let mtt=this;
                mtt.arrayexcel=[]; 
                if(event.target.files.length>0){
                    $(".custom-file-label").html(event.target.files[0].name);
                    readXlsxFile(event.target.files[0]).then((rows) => {  
                        mtt.arrayexcel=rows;
                    });
                }else{
                     $(".custom-file-label").html("Seleccione archivo");
                }
            }
            ,
            abrirModal(accion, data = []){ 
                  switch(accion){
                            case 'registrar':
                            {
                               // this.modal = 1; 
                                this.nombre='';
                                this.descrip=''; 
                                $('#regencuesta').modal('show'); 
                                break;
                            }
                            case 'preguntas':
                            {
                                //console.log(data);
                                // this.modal=2; 
                                this.encuestaselected=data; 
                                 $('#regpreguntas').modal('show'); 
                                break;
                            }
                            case 'modificar':
                            {
                                //console.log(data);
                               // this.modal=3; 
                                this.encuestaselected=data; 
                                this.nombre=this.encuestaselected.nombre;
                                this.descrip=this.encuestaselected.descripcion;
                                $('#modencuesta').modal('show'); 
                                break;
                            }
                        }
                  
            }, 

            
        },
        mounted() {
           this.encuestaselected =null;
           this.listarPersona(1,this.buscar,this.criterio); 
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
