<template>
        
<div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title mb-0">Envio de encuesta</h3> 
        </div> 
      </div>
            <div class="content-body">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Encuestas  
                        
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                      <option value="descripcion">Detalle</option> 
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarPersona(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarPersona(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="    width: 140px;">Opciones</th>
                                    <th>Nombre</th>  
                                    <th>Descripción</th>
                                    <th>Fecha de envio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="encuesta in arrayEncuestas" :key="encuesta.id">
                                    <td v-if="encuesta.estado==1">
                                        <button v-if="validate().Envio_email" type="button" @click="sendemail(encuesta)" class="btn btn-success btn-sm">
                                          <i class="ft-check"></i>  &nbsp; Enviar encuesta
                                        </button> 
                                    </td>
                                    <td v-else-if="encuesta.estado==2"> Procesado </td>
                                    <td v-else ></td>
                                    <td v-text="encuesta.nombre"></td>
                                    <td v-text="encuesta.descripcion"></td>  
                                     <td v-if="encuesta.estado==2">{{encuesta.updated_at | formatDate}}</td> 
                                     <td v-else></td> 
                                </tr>                                
                            </tbody>
                        </table>
                        
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
    </div>

</template>

<script>
    export default {
        props:['permisos'],
        data (){
            return {
                arrayPermisos:{Envio_email:true},
                nombre : '', 
                descrip : '', 
                arrayEncuestas : [], 
                arrayEgreso : {},  
                encuestaselected : null,
                modal : 0, 
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'nombre',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
       
        methods : {
             validate(){ 
               return window.app.validate(this.permisos);
             },
            sendemail(idencuesta){
                   let me = this;
                swal({
                title: 'Seleccione la promoción',
                input: 'select',
                inputOptions:me.arrayEgreso, 
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Enviar',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger', 
                reverseButtons: true, 
            }).then(function (result) { 
                if (result.value) {  
                    swal({
                        title: "Procesando",
                        allowOutsideClick: () => false,
                        allowEscapeKey: () => false,
                        onOpen: function() {
                        swal.showLoading();
                        }
                    });
                        axios.post('/sendemail',{ 
                            'idpromo': result.value,
                            'idencuesta': idencuesta.id,
                            'nombre': idencuesta.nombre,
                            'des': idencuesta.descripcion,
                            'fecha': idencuesta.created_at
                        }).then(function (response) { 
                            me.listarPersona(1,'','nombre');
                            swal(
                                'Envio exitoso ',
                                ' ',
                                'success'
                                );
                        }).catch(function (error) {
                            console.log(error);
                        });
                }  
            });
            },
             
            listarPersona (page,buscar,criterio){
                let me=this;
                var url= '/listaencuesta?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayEncuestas = respuesta.listaencuesta.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
             
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarPersona(page,buscar,criterio);
            }, 
            selectPromocion(){
                let me=this;
                var url= '/promocion/selectPromocionemail';
                axios.get(url).then(function (response) { 
                    var respuesta= response.data.promociones;
                     respuesta.forEach( function(valor) { 
                            me.arrayEgreso[valor.id]=valor.anio+' - '+valor.descripcion_promo;
                        });
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
             
        },
        mounted() {
           this.encuestaselected =null;
           this.selectPromocion();
           this.listarPersona(1,this.buscar,this.criterio);
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
