<template>
   <div class='box-form'>
    <div class='box-login-tab'></div>
    <div class='box-login-title'>
      <div class='i i-login'></div><h2 v-if="encuestaselected!=null" style="    text-align: left;  padding-left: 53px;">{{encuestaselected.nombre}}</h2>
    </div>
    <div class='box-login'>
      <div v-if="registrado" class='fieldset-body' >
       <form @submit.prevent="checkkencuesta" v-if="encuestaselected!=null">
            
                      
                                    <table  style="margin: 15px; display: inline;"> 
                                        <tbody>
                                            <tr>
                                                <td> 
                                                   <div class="row" style="    background-color: rgb(0 0 0 / 13%);    margin-top: 8px;"> 
                                                          <p class='field'>
                                                            <label for='user'  >Estudio en :</label> 
                                                         </p>
                                                    </div>
                                                   <div  > 
                                                        <div>
                                                            <select class="form-control col-md-12" style="font-size: small;font-size: small; margin: 13px 0 11px 0;   height: 41px;    border-radius: 11px;"
                                                                    v-model="carreraselected" 
                                                                    name="Carrera">
                                                                <option value="" >Ninguno</option>
                                                                <option v-for="carreras in carrerasuniver" :key="carreras.id" :value="carreras.id" v-text="carreras.instituto+' - '+carreras.nombre+' - '+carreras.nivel"></option>
                                                            </select>
                                                        </div> 
                                                    </div>
                                                </td> 
                                            </tr> 
                                            <tr v-for="pregunta in encuestaselected.preguntas" :key="pregunta.id">
                                                <td> 
                                                   <div class="row" style="    background-color: rgb(0 0 0 / 13%);"> 
                                                          <p class='field'>
                                                            <label for='user'  >{{pregunta.pregunta}}</label> 
                                                         </p>
                                                    </div>
                                                   <div v-if="pregunta.respuestas.length>0" > 
                                                        <div style="margin-left: 10%;">
                                                            <div > 
                                                                    <label class='checkbox' v-for="(respuesta) in pregunta.respuestas" :key="respuesta.id">
                                                                        <input type='radio'    v-model="respuestaarray[pregunta.id]" :value="{res:respuesta.id,pre:pregunta.id}" :id="'respuesta'+pregunta.id" :name="'respuesta'+pregunta.id" required />  {{respuesta.respuesta}}
                                                                    </label>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </td> 
                                            </tr>                           
                                        </tbody>
                                    </table> 
        	
      	   
        	<input type='submit' id='do_login' value='Enviar' title='Enviar' />
        </form>
      </div>
      <div v-else class='fieldset-body' style="    height: 150px;
    width: 100%;">
          <p class='field' style="height: 100%;">
          <label style="     margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    display: table-cell;
    float: initial;
    text-align: center;">{{msn}}</label> 
        </p>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        props: ['iden','code','user'],
        data (){
            return {
              encuestaselected:null ,
              registrado:true ,
              carrerasuniver:[],
              carreraselected:'' ,
              msn:'Gracias por ser parte de nuestra institución' ,
              respuestaarray:{}
            }
        }, 
        
        methods : {
            checkkencuesta(){
                let me=this;  
 

 axios.post('/encuestafinal/registrar',{
                            'data': this.respuestaarray,
                            'carrera': this.carreraselected,
                            'user': this.user,
                            'encu': this.iden,
                            'code': this.code
                        }).then(function (response) { 
                            me.registrado=false;
                                swal(
                                                'Registro exitoso ',
                                                ' ',
                                                'success'
                                                );
                        }).catch(function (error) {
                            console.log(error);
                        });

                
            },
            getencuesta (id,code){
                let me=this; 
                axios.get('/getencuesta?id='+ id+'&code='+code).then(function (response) {
                    var respuesta= response.data;  
                    switch (respuesta.men) {
                                case 1:
                                    me.encuestaselected=respuesta.encu[0];
                                    me.getcarreras();
                                break;
                                case 2:
                                     me.encuestaselected=null;
                                     me.registrado=false;
                                     me.msn='La encuesta ya fue enviada, gracias por ser parte de nuestra institución';
                                break;
                                case 3:
                                     me.encuestaselected=null;
                                     me.registrado=false;
                                     me.msn='La encuesta no existe';
                                break;
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            getcarreras(){
                let me=this;
                axios.get('/getcarreras').then(function (response) {
                    me.carrerasuniver= response.data.carreras;   
                }).catch(function (error) {
                    console.log(error);
                });
            }
        },
        mounted() { 
            this.getencuesta(this.iden,this.code);
        }
    }
</script>
 
