<template>
           <div class="modal fade text-left" id="openuseredti" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-warning white">
                                  <h4 class="modal-title"> Datos del usuario</h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Nombre(*)</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de la persona">                                        
                                    </div>

                                    <label class="col-md-2 form-control-label" for="text-input">Ap. Paterno</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="paterno" class="form-control" placeholder="Primer Apellido">                                        
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Ap. Materno</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="materno" class="form-control" placeholder="Segundo Apellido">                                        
                                    </div>

                                    <label class="col-md-2 form-control-label" for="email-input">Estado Civil</label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="estado_civil">
                                            <option value="CASADO">CASADO</option>
                                            <option value="SOLTERO">SOLTERO</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="email-input">Sexo</label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="sexo">
                                            <option value="MASCULINO">MASCULINO</option>
                                            <option value="FEMENINO">FEMENINO</option>
                                        </select>
                                    </div>
                                    <label class="col-md-2 form-control-label" for="email-input">Fecha de nacimiento</label>
                                    <div class="col-md-4">
                                        <input type="date" v-model="fecha_nac" class="form-control" placeholder="Número de documento">
                                    </div>

                                </div>
                            
                                <div class="form-group row">

                                    <label class="col-md-2 form-control-label" for="email-input">Carnet de Identidad</label>
                                    <div class="col-md-4">
                                        <input type="number" v-model="num_documento" class="form-control" placeholder="Número de documento">
                                    </div>

                                    <label class="col-md-2 form-control-label" for="email-input">Dirección</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="direccion" class="form-control" placeholder="Dirección">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <label class="col-md-2 form-control-label" for="email-input">Teléfono</label>
                                    <div class="col-md-4">
                                        <input type="number" v-model="telefono" class="form-control" placeholder="Teléfono">
                                    </div> 

                                    <label class="col-md-2 form-control-label" for="email-input">Email</label>
                                    <div class="col-md-4">
                                        <input type="email" v-model="email" class="form-control" placeholder="Email">
                                    </div>

                                </div>
                                

                                <div class="form-group row">
                                     <label class="col-md-2 form-control-label" for="email-input">Usuario</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="usuario" class="form-control" placeholder="Nombre del usuario">
                                    </div>
                                    <label class="col-md-2 form-control-label" for="email-input">password</label>
                                    <div class="col-md-4">
                                        <input type="password" v-model="password" class="form-control" placeholder="password del usuario">
                                    </div> 
                                </div>
                                <div class="form-group row">
                                     <label class="col-md-2 form-control-label" for="email-input">Avatar</label>
                                      <div class="button col-md-2">
                                            <input type="radio" name="0" value="0" id="0" v-model="avatar" />
                                            <img src="img/avatars/0.jpg" width="100%" id="0">
                                    </div>
                                    <div class="col-md-8 row">
                                        <div class="button col-md-3">
                                            <input type="radio" name="1" value="1" id="1" v-model="avatar" />
                                            <img src="img/avatars/1.jpg" width="50%" id="1">
                                        </div>
                                        <div class="button col-md-3">
                                            <input type="radio" name="2" value="2" id="2" v-model="avatar" />
                                            <img src="img/avatars/2.jpg" width="50%" id="2">
                                        </div>
                                        <div class="button col-md-3">
                                            <input type="radio" name="3" value="3" id="3" v-model="avatar" />
                                            <img src="img/avatars/3.jpg" width="50%" id="3">
                                        </div>
                                        <div class="button col-md-3">
                                            <input type="radio" name="4" value="4" id="4" v-model="avatar" />
                                            <img src="img/avatars/4.jpg" width="50%" id="4">
                                        </div>
                                        <div class="button col-md-3">
                                            <input type="radio" name="5" value="5" id="5" v-model="avatar" />
                                            <img src="img/avatars/5.jpg" width="50%" id="5">
                                        </div>
                                        <div class="button col-md-3">
                                            <input type="radio" name="6" value="6" id="6" v-model="avatar" />
                                            <img src="img/avatars/6.jpg" width="50%" id="6">
                                        </div>
                                        <div class="button col-md-3">
                                            <input type="radio" name="7" value="7" id="7" v-model="avatar" />
                                            <img src="img/avatars/7.jpg" width="50%"  id="7">
                                        </div>
                                        <div class="button col-md-3">
                                            <input type="radio" name="8" value="8" id="8" v-model="avatar" />
                                            <img src="img/avatars/8.jpg" width="50%" id="8">
                                        </div>
                                    </div> 
                                </div>

                                <div v-show="errorPersona" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjPersona" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>

                            </form>
                                </div>
                                <div class="modal-footer"> 
                                    
                                    <button type="button" class="btn btn-primary" @click="actualizarPersona()">Actualizar</button>
                                    <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
    </div>
</template>

<script>
    export default {
        data (){
            return {
                persona_id: 0,
                avatar: 0,
                nombre : '',
                paterno : '',
                materno : '',
                estado_civil : '',
                sexo : '',
                fecha_nac : '',
                tipo_documento : '',
                num_documento : '',
                direccion : '',
                telefono : '',
                email : '',
                observacion : '',
                usuario: '',
                password:'',
                idrol: '',
                arrayPersona : [],
                arrayRol : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                errorPersona : 0,
                errorMostrarMsjPersona : [],
                 
                criterio : 'nombre',
                buscar : ''
            }
        },
       
        methods : {
            listarPersona (){
                let me=this; 
                this.nombre= '';
                this.paterno= '';
                this.materno= '';
                this.estado_civil= '';
                this.sexo= '';
                this.fecha_nac= '';
                this.num_documento='';
                this.direccion='';
                this.telefono='';
                this.email='';
                this.observacion='';
                this.usuario='';
                this.password='';
                this.idrol=0; 
                axios.get('/getuserupdate').then(function (response) { 
                    var data= response.data.personas;
                    me.persona_id=data['id'];
                    me.nombre = data['nombre'];
                    me.paterno = data['paterno'];
                    me.materno = data['materno'];
                    me.estado_civil = data['estado_civil'];
                    me.sexo = data['sexo'];
                    me.fecha_nac = data['fecha_nac'];
                    me.num_documento = data['num_documento'];
                    me.direccion = data['direccion'];
                    me.telefono = data['telefono'];
                    me.email = data['email'];
                    me.observacion = data['observacion'];
                    me.usuario = data['usuario'];
                    me.avatar = data['logo'];
                    me.password=data['password'];
                    me.idrol=data['idrol'];
                     $('#openuseredti').modal('show');
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectRol(){
                let me=this;
                var url= '/rol/selectRol';
                axios.get(url).then(function (response) {
                    //console.log(response);
                    var respuesta= response.data;
                    me.arrayRol = respuesta.roles;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
 
            actualizarPersona(){
               if (this.validarPersona()){
                    return;
                }
                
                let me = this;

                axios.put('/user/actualizar',{
                    'nombre': this.nombre,
                    'paterno': this.paterno,
                    'materno': this.materno,
                    'estado_civil': this.estado_civil,
                    'sexo': this.sexo,
                    'fecha_nac': this.fecha_nac,
                    'num_documento' : this.num_documento,
                    'direccion' : this.direccion,
                    'telefono' : this.telefono,
                    'email' : this.email,
                    'observacion' : this.observacion,
                    'idrol' : this.idrol,
                    'logo' : this.avatar,
                    'usuario': this.usuario,
                    'password': this.password,
                    'id': this.persona_id
                }).then(function (response) {
                    me.cerrarModal();
                    swal('Exitoso','El registro fue modificado correctamente','success').then(function (response) {
                        location.reload();
                    });
                }).catch(function (error) {
                    console.log(error);
                }); 
            },
            validarPersona(){
                this.errorPersona=0;
                this.errorMostrarMsjPersona =[];

                if (!this.nombre) this.errorMostrarMsjPersona.push("El nombre de la pesona no puede estar vacío.");
                if (!this.usuario) this.errorMostrarMsjPersona.push("El nombre de usuario no puede estar vacío.");
                if (!this.password) this.errorMostrarMsjPersona.push("La password del usuario no puede estar vacía.");
                if (this.idrol==0) this.errorMostrarMsjPersona.push("Seleccione una Role.");
                if (this.errorMostrarMsjPersona.length) this.errorPersona = 1;

                return this.errorPersona;
            },
            cerrarModal(){
                $('.modal').modal('hide');
                this.tituloModal='';
                this.nombre='';
                this.paterno='';
                this.materno='';
                this.estado_civil='';
                this.sexo='';
                this.fecha_nac='';
                this.tipo_documento='DNI';
                this.num_documento='';
                this.direccion='';
                this.telefono='';
                this.email='';
                this.observacion='';
                this.usuario='';
                this.password='';
                this.idrol=0;
                this.errorPersona=0;
            },
             
        },
        mounted() {
           
           this.$root.$on('openmodalupdate', () => { 
                   this.listarPersona(); 
                   this.selectRol(); 
            });
            let me=this;
               $(".button img").click(function(){ 
                 me.avatar= $(this).attr('id'); 
                })
        }
    }
</script>
<style>    
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio] + img {
  cursor: pointer;
}
input[type="radio"]:checked + img {
    outline: 1px solid rgb(0, 47, 255);
} 
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
