<template>
            <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title mb-0">Promociones</h3> 
                </div> 
            </div>
           
            <div class="content-body">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header"> 
                        <button v-if="validate().Registrar" type="button" @click="abrirModal('promocion','registrar')" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo  
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="anio">Nombre</option>
                                      <option value="descripcion_promo">Descripción</option>
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="ListarPromocion(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="ListarPromocion(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Año/Gestión</th>
                                    <th>Detalle</th>
                                    <th>Total</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="promocion in arrayPromocion" :key="promocion.id">
                                    <td> 
                                          <template v-if="promocion.condicion==1">
                                            <button v-if="validate().Modificar"  type="button" @click="abrirModal('promocion','actualizar',promocion)" class="btn btn-warning btn-sm">
                                                <i class="ft-check-square"></i>
                                           </button> &nbsp;
                                            <button v-if="validate().Desactivar"  type="button" class="btn btn-danger btn-sm" @click="desactivarPromocion(promocion.id)">
                                                <i class="ft-trash-2"></i>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button v-if="validate().Activar"  type="button" class="btn btn-success btn-sm" @click="activarPromocion(promocion.id)">
                                                <i class="ft-check"></i>
                                            </button>
                                        </template>
                                    </td>
                                    <td v-text="promocion.anio"></td>
                                    <td v-text="promocion.descripcion_promo"></td>
                                    <td v-text="promocion.total"></td>
                                    <td>
                                        <div v-if="promocion.condicion">
                                            <span class="badge badge-success">Activo</span>
                                        </div>
                                        <div v-else>
                                            <span class="badge badge-danger">Desactivado</span>
                                        </div>
                                        
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            

             <div class="modal fade text-left" id="modpromocion" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-warning white">
                                 <h4 class="modal-title" v-text="tituloModal"></h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Año/Gestión</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="anio" class="form-control" placeholder="Año"> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                                    <div class="col-md-9">
                                        <input type="email" v-model="descripcion_promo" class="form-control" placeholder="Ingrese descripción">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Total de la Promoción</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="total" class="form-control" placeholder="Ingrese total de la promoción">
                                    </div>
                                </div>
                                <div v-show="errorPromocion" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjPromocion" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>

                            </form>
                                </div>
                                <div class="modal-footer"> 
                                  <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarPromocion()">Guardar</button>
                            <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarPromocion()">Actualizar</button>
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
    </div>
            <!--Fin del modal-->
        </div>
</template>

<script>
    export default {
         props:['permisos'],
        data (){
            return {
                arrayPermisos:{Registrar:true,Activar:true,Desactivar:true,Modificar:true},
                promocion_id: 0,
                anio : '',
                descripcion_promo : '',
                total: '',
                arrayPromocion : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                errorPromocion : 0,
                errorMostrarMsjPromocion : [],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'anio',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
        methods : {
            validate(){ 
               return window.app.validate(this.permisos);
             },
            ListarPromocion (page,buscar,criterio){
                let me=this;
                var url= '/promocion?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayPromocion = respuesta.promociones.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.ListarPromocion(page,buscar,criterio);
            },
            registrarPromocion(){
                if (this.validarPromocion()){
                    return;
                }
                
                let me = this;

                axios.post('/promocion/registrar',{
                    'anio': this.anio,
                    'descripcion_promo': this.descripcion_promo,
                    'total': this.total,
                }).then(function (response) {
                    me.cerrarModal();
                    me.ListarPromocion(1,'','anio');
                }).catch(function (error) {
                    console.log(error);
                });
            },
            actualizarPromocion(){
               if (this.validarPromocion()){
                    return;
                }
                
                let me = this;

                axios.put('/promocion/actualizar',{
                    'anio': this.anio,
                    'descripcion_promo': this.descripcion_promo,
                    'total': this.total,
                    'id': this.promocion_id
                }).then(function (response) {
                    me.cerrarModal();
                    me.ListarPromocion(1,'','anio');
                }).catch(function (error) {
                    console.log(error);
                }); 
            },
            desactivarPromocion(id){
               swal({
                title: 'Esta seguro de desactivar esta Promoción?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/promocion/desactivar',{
                        'id': id
                    }).then(function (response) {
                        me.ListarPromocion(1,'','anio');
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            activarPromocion(id){
               swal({
                title: 'Esta seguro de activar esta Promoción?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/promocion/activar',{
                        'id': id
                    }).then(function (response) {
                        me.ListarPromocion(1,'','anio');
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            validarPromocion(){
                this.errorPromocion=0;
                this.errorMostrarMsjPromocion =[];

                if (!this.anio) this.errorMostrarMsjPromocion.push("Debe llenar el año de la Promoción.");
                if (!this.descripcion_promo) this.errorMostrarMsjPromocion.push("Debe llenar alguna descrión de la Promoción.");
                if (!this.total) this.errorMostrarMsjPromocion.push("La cantidad de la promoción es campo Requerido.");
                if (this.errorMostrarMsjPromocion.length) this.errorPromocion = 1;

                return this.errorPromocion;
            },
            cerrarModal(){
                this.modal=0; 
                $('.modal').modal('hide');
                this.tituloModal='';
                this.anio='';
                this.descripcion_promo='';
                this.total='';
                this.errorPromocion = 0;
            },
            abrirModal(modelo, accion, data = []){
                switch(modelo){
                    case "promocion":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                $('#modpromocion').modal('show');
                                this.tituloModal = 'Registrar Promoción';
                                this.anio= '';
                                this.descripcion_promo = '';
                                this.total = '';
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            {
                                //console.log(data);
                               $('#modpromocion').modal('show');
                                this.tituloModal='Actualizar Promoción';
                                this.tipoAccion=2;
                                this.promocion_id=data['id'];
                                this.anio = data['anio'];
                                this.descripcion_promo= data['descripcion_promo'];
                                this.total = data['total'];
                                break;
                            }
                        }
                    }
                }
            }
        },
        mounted() {
            this.ListarPromocion(1,this.buscar,this.criterio);
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
