<template>
             <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title mb-0">Roles</h3> 
                </div> 
            </div>
           
            <div class="content-body">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header"> 
                        <button v-if="validate().Registrar" type="button" @click="abrirModal('rol','registrar')" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                      <option value="descripcion">Descripción</option>
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarRol(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarRol(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="rol in arrayRol" :key="rol.id">
                                     <td> 
                                       
                                            
                                       <template v-if="rol.condicion==1">
                                            <button v-if="validate().Modificar" type="button" @click="abrirModal('rol','actualizar',rol)" class="btn btn-warning btn-sm">
                                                <i class="ft-check-square"></i>
                                           </button> <br>
                                            <button v-if="validate().Desactivar" type="button" class="btn btn-danger btn-sm" @click="desactivarRol(rol.id)">
                                                <i class="ft-trash-2"></i>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button v-if="validate().Activar" type="button" class="btn btn-success btn-sm" @click="activarRol(rol.id)">
                                                <i class="ft-check"></i>
                                            </button>
                                        </template>

                                    </td>
                                    <td v-text="rol.nombre"></td>
                                    <td v-text="rol.descripcion"></td>
                                    <td>
                                        <div v-if="rol.condicion">
                                            <span class="badge badge-success">Activo</span>
                                        </div>
                                        <div v-else>
                                            <span class="badge badge-danger">Desactivado</span>
                                        </div>
                                        
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>

            <div class="modal fade text-left" id="regroles" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-warning white">
                                  <h4 class="modal-title" v-text="tituloModal"></h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Nombre (*)</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="nombre" class="form-control" placeholder="Nombre del rol">                                        
                                    </div>

                                    <label class="col-md-2 form-control-label" for="text-input">Descripción (*)</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="descripcion" class="form-control" placeholder="Descripción">                                        
                                    </div>
                                </div>
                                  <div v-show="errorMostrarMsjPersona.length>0" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjPersona" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>
                            </form>
                                </div>
                                <div class="modal-footer"> 
                                    <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarrol()">Guardar</button>
                                    <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarRol()">Actualizar</button>
                                    <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
    </div>

        </div>
</template>

<script>
    export default {
        props:['permisos'],
        data (){
            return {
                arrayPermisos:{Registrar:true,Activar:true,Desactivar:true,Modificar:true},
                rol_id: 0,
                nombre : '',
                descripcion : '',
                descripcion : '', 
                arrayRol : [],
                modal : 0,
                tituloModal : 'Registro del Rol',
                tipoAccion : 0,
                 errorMostrarMsjPersona : [],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'nombre',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
        methods : {
             validate(){ 
               return window.app.validate(this.permisos);
             },
             validacampos(){
                var errorPersona=0;
                this.errorMostrarMsjPersona =[];

                if (!this.nombre) this.errorMostrarMsjPersona.push("El nombre del rol no puede estar vacío.");
                if (!this.descripcion) this.errorMostrarMsjPersona.push("La descripción del rol no puede estar vacío."); 
                if (this.errorMostrarMsjPersona.length) errorPersona = 1;

                return errorPersona;
            },
            activarRol(id){
 swal({
                title: 'Esta seguro de activar este rol?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/rol/activar',{
                        'id': id
                    }).then(function (response) {
                        me.listarRol(1,me.buscar,me.criterio);
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            desactivarRol(id){
 swal({
                title: 'Esta seguro de desactivar este rol?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/rol/desactivar',{
                        'id': id
                    }).then(function (response) { 
                     me.listarRol(1,me.buscar,me.criterio);
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            registrarrol(){
                    if (this.validacampos()){
                                        return;
                                    }

              let me = this;

                axios.post('/rol/registrar',{
                    'nombre': this.nombre,
                    'descripcion': this.descripcion 
                }).then(function (response) {
                    me.cerrarModal();
                     me.listarRol(1,me.buscar,me.criterio);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            actualizarRol(){
                    if (this.validacampos()){
                                        return;
                                    }
                                    let me = this;

                axios.put('/rol/actualizar',{
                    'nombre': this.nombre,
                    'descripcion': this.descripcion, 
                    'id': this.rol_id
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarRol(1,me.buscar,me.criterio);
                }).catch(function (error) {
                    console.log(error);
                });
            },
             abrirModal(modelo, accion, data = []){ 
                switch(modelo){
                    case "rol":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                  $('#regroles').modal('show');
                                this.tituloModal = 'Registrar Rol';
                                this.descripcion='';
                                this.nombre='';
                                this.rol_id=0;
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            { 
                                $('#regroles').modal('show');
                                this.tituloModal='Actualizar Rol';
                                this.tipoAccion=2;
                                this.nombre=data['nombre']; 
                                this.rol_id=data['id']; 
                                this.descripcion = data['descripcion']; 
                                break;
                            }
                        }
                    }
                }
            },
             cerrarModal(){
                $('.modal').modal('hide');
                this.descripcion='';
                this.nombre=''; 
            },
            listarRol (page,buscar,criterio){
                let me=this;
                var url= '/rol?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayRol = respuesta.roles.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarRol(page,buscar,criterio);
            }
        },
        mounted() {
            this.listarRol(1,this.buscar,this.criterio);
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
