<template>
             <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title mb-0">Asignación de Vistas</h3> 
                </div> 
            </div>
           
            <div class="content-body">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-12" 
                                                v-model="rolselected" 
                                                name="Rol" @change="onChangeRol()">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="rol in arrayRoles" :key="rol.id" :value="rol.id" v-text="rol.nombre"></option>
                                        </select> 
                                     <button v-if="rolselected>0&&validate().Asignar" type="submit" @click="asignarVista()" class="btn btn-primary"><i class="fa fa-plus"></i>  Asignar vista</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Grupo</th>
                                    <th>Vista</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="vues in arrayRolesvues" :key="vues.id" :style="vues.activo!=1?'background-color: lightgray;':''">
                                    <td> 
                                        <template v-if="vues.activo==1"> 
                                            <button v-if="validate().Desactivar" type="button" class="btn btn-danger btn-sm" @click="desactivarRol(vues.id)">
                                                <i class="ft-trash-2"></i>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button v-if="validate().Activar" type="button" class="btn btn-success btn-sm" @click="activarRol(vues.id)">
                                                <i class="ft-check"></i>
                                            </button>
                                        </template>
                                    </td>
                                    <td v-text="vues.descripcion"></td>
                                    <td v-text="vues.nombre"></td>
                                </tr>                                
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
             
            <div class="modal fade text-left" id="newasig" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-warning white">
                                  <h4 class="modal-title" >Asignar de vista</h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row"> 
                                    <label class="col-md-2 form-control-label" style="text-align: right;" for="text-input">Vistas :</label>
                                    <div class="col-md-8">
                                       <select class="form-control col-md-12" 
                                                v-model="vistaselected" 
                                                name="Vistas" @change="onChangevista()"> 
                                            <option v-for="vue in arrayvues" :key="vue.idvue" :value="vue.idvue" v-text="vue.descripcion+' - '+vue.nombre"></option>
                                        </select>                                         
                                    </div>
                                </div>
                                 <div class="form-group row"> 
                                    <label class="col-md-2 form-control-label" style="text-align: right;" for="text-input">Permisos :</label>
                                    <div class="col-md-8" id="permisosid">
                                          
                                            <div class="form-check" v-for="(per,key) in arrayper" :key="key">
                                                <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" 
                                                v-model="permisoss"  :value="key" >  {{key}}
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                </label>
                                            </div> 
 
                                    </div>
                                </div>
                            </form>
                                </div>
                                <div class="modal-footer"> 
                                    <button type="button" v-if="vistaselected>0" class="btn btn-primary" @click="registrarrol()">Asignar</button> 
                                    <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
    </div>
            <!--Fin del modal-->
        </div>
</template>

<script>
    export default {
        props:['permisos'],
        data (){
            return {
                arrayPermisos:{Asignar:true,Desactivar:true,Activar:true},
                arrayRoles : [],
                arrayvues : [],
                arrayper : [],
                arrayRolesvues : [],
                rolselected: 0,
                vistaselected: 0,
                permisoss:[]
            }
        },
       
        methods : {
            validate(){ 
               return window.app.validate(this.permisos);
            },
            asignarVista(){
                $("#permisosid").html("");
                this.vistaselected=0;
                
                 let me=this; 
                axios.get('/getvues?id='+me.rolselected).then(function (response) {
                    var respuesta= response.data;
                    me.arrayvues = respuesta.vues;  
                     $('#newasig').modal('show');
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            onChangevista(){
                $("#permisosid").html(""); 
                let me=this;
                var tem=_.find(me.arrayvues, function(o) { return o.idvue == me.vistaselected; });
                this.arrayper=window.app.getpermisos(tem.template);
                // console.log(     encodeURI(JSON.stringify(window.app.getpermisos(tem.template)))    );
            },
            onChangeRol(){
                this.vistaselected=0;
                 let me=this; 
                axios.get('/getvuesrol?id='+me.rolselected).then(function (response) {
                    var respuesta= response.data;
                    me.arrayRolesvues = respuesta.roles; 
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
               
            registrarrol(){ 
                var salidaout={};
                this.permisoss.forEach(element => { 
                    salidaout[element]=true;
                });  
                let me = this; 
                axios.post('/regrolvue',{
                    'rol': me.rolselected, 
                    'vue': me.vistaselected, 
                    'perm': encodeURI(JSON.stringify(salidaout)) 
                }).then(function (response) {
                    swal('Vista asignado correctamente','','success');
                    me.cerrarModal();
                    me.onChangeRol();
                }).catch(function (error) {
                    console.log(error);
                });
            },
             
            cerrarModal(){
                $('.modal').modal('hide');
                 this.vistaselected=0;
            },
            
            desactivarRol(id){
               swal({
                title: 'Esta seguro de desactivar esta vista?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/regrolvue/desactivar',{
                        'id': id
                    }).then(function (response) {
                         me.onChangeRol();
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            activarRol(id){
               swal({
                title: 'Esta seguro de activar esta vista?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/regrolvue/activar',{
                        'id': id
                    }).then(function (response) {
                         me.onChangeRol();
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
             roles (){
                let me=this; 
                axios.get('/rolasig').then(function (response) {
                    var respuesta= response.data;
                    me.arrayRoles = respuesta.roles; 
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
        },
        mounted() {
            this.roles();
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
