<template>
             <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title mb-0">Usuarios</h3> 
                </div> 
            </div>
           
            <div class="content-body">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header"> 
                        <button v-if="validate().Registrar" type="button" @click="abrirModal('persona','registrar')" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                      <option value="num_documento">Documento</option>
                                      <option value="email">Email</option>
                                      <option value="telefono">Teléfono</option>
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarPersona(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarPersona(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Nombre</th>
                                    <th>C. I.</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Usuario</th>
                                    <th>Rol</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="persona in arrayPersona" :key="persona.id" :style="persona.condicion!=1?'background-color: lightgray;':''">
                                    <td> 
                                         <template v-if="persona.condicion==1">
                                            <button v-if="validate().Modificar" type="button" @click="abrirModal('persona','actualizar',persona)" class="btn btn-warning btn-sm">
                                                <i class="ft-check-square"></i>
                                           </button> <br>
                                            <button v-if="validate().Desactivar" type="button" class="btn btn-danger btn-sm" @click="desactivarUsuario(persona.id)">
                                                <i class="ft-trash-2"></i>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button v-if="validate().Activar" type="button" class="btn btn-success btn-sm" @click="activarUsuario(persona.id)">
                                                <i class="ft-check"></i>
                                            </button>
                                        </template>
                                    </td>
                                    <td v-text="persona.nombre+' '+persona.paterno+' '+persona.materno" ></td>
                                    <td v-text="persona.num_documento"></td>
                                    <td v-text="persona.telefono"></td>
                                    <td v-text="persona.email"></td>
                                    <td v-text="persona.usuario"></td>
                                    <td v-text="persona.rol"></td>
                                </tr>                                
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
             
            <div class="modal fade text-left" id="modusers" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel1"
                          aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-warning white">
                                  <h4 class="modal-title" v-text="tituloModal"></h4>
                                  <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Nombre(*)</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de la persona">                                        
                                    </div>

                                    <label class="col-md-2 form-control-label" for="text-input">Ap. Paterno</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="paterno" class="form-control" placeholder="Primer Apellido">                                        
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Ap. Materno</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="materno" class="form-control" placeholder="Segundo Apellido">                                        
                                    </div>

                                    <label class="col-md-2 form-control-label" for="email-input">Carnet de Identidad</label>
                                    <div class="col-md-4">
                                        <input type="number" v-model="num_documento" class="form-control" placeholder="Número de documento">
                                    </div>

                                </div>
                        <div v-if="tipoAccion==2">
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="email-input">Sexo</label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="sexo">
                                            <option value="MASCULINO">MASCULINO</option>
                                            <option value="FEMENINO">FEMENINO</option>
                                        </select>
                                    </div>
                                    <label class="col-md-2 form-control-label" for="email-input">Fecha de nacimiento</label>
                                    <div class="col-md-4">
                                        <input type="date" v-model="fecha_nac" class="form-control" placeholder="Número de documento">
                                    </div>

                                </div>
                            
                                <div class="form-group row">

                                   <label class="col-md-2 form-control-label" for="email-input">Estado Civil</label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="estado_civil">
                                            <option value="CASADO">CASADO</option>
                                            <option value="SOLTERO">SOLTERO</option>
                                        </select>
                                    </div> 

                                    <label class="col-md-2 form-control-label" for="email-input">Dirección</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="direccion" class="form-control" placeholder="Dirección">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <label class="col-md-2 form-control-label" for="email-input">Teléfono</label>
                                    <div class="col-md-4">
                                        <input type="number" v-model="telefono" class="form-control" placeholder="Teléfono">
                                    </div> 

                                    <label class="col-md-2 form-control-label" for="email-input">Email</label>
                                    <div class="col-md-4">
                                        <input type="email" v-model="email" class="form-control" placeholder="Email">
                                    </div>

                                </div>
                                

                                <div class="form-group row"> 
                                    <label class="col-md-2 form-control-label" for="email-input">Observacion</label>
                                    <div class="col-md-10">
                                        <input type="observacion" v-model="observacion" class="form-control" placeholder="Observacion">
                                    </div>
                                </div>

                       </div>
                       <div class="form-group row">

                                    <label class="col-md-2 form-control-label" for="email-input">Rol</label>
                                    <div class="col-md-4">
                                        <select v-model="idrol" class="form-control">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="role in arrayRol" :key="role.id" :value="role.id" v-text="role.nombre"></option>
                                        </select>
                                    </div>

                                    

                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="email-input">Usuario</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="usuario" class="form-control" placeholder="Nombre del usuario">
                                    </div>
                               
                                    <label class="col-md-2 form-control-label" for="email-input">password</label>
                                     <div class="col-md-4">
                                        <input type="password" v-model="password" class="form-control" placeholder="password del usuario">
                                    </div>
                                </div>

                                <div v-show="errorPersona" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjPersona" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>

                            </form>
                                </div>
                                <div class="modal-footer"> 
                                    <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarPersona()">Guardar</button>
                                    <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarPersona()">Actualizar</button>
                                    <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                                </div>
                              </div>
                            </div>
    </div>
            <!--Fin del modal-->
        </div>
</template>

<script>
    export default {
        props:['permisos'],
        data (){
            return {
                arrayPermisos:{Registrar:true,Activar:true,Desactivar:true,Modificar:true},
                persona_id: 0,
                nombre : '',
                paterno : '',
                materno : '',
                estado_civil : '',
                sexo : '',
                fecha_nac : '',
                tipo_documento : '',
                num_documento : '',
                direccion : '',
                telefono : '',
                email : '',
                observacion : '',
                usuario: '',
                password:'',
                idrol: '',
                arrayPersona : [],
                arrayRol : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                errorPersona : 0,
                errorMostrarMsjPersona : [],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'nombre',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
        methods : {
            validate(){ 
               return window.app.validate(this.permisos);
            },
            listarPersona (page,buscar,criterio){
                let me=this;
                var url= '/user?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayPersona = respuesta.personas.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectRol(){
                let me=this;
                var url= '/rol/selectRol';
                axios.get(url).then(function (response) {
                    //console.log(response);
                    var respuesta= response.data;
                    me.arrayRol = respuesta.roles;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarPersona(page,buscar,criterio);
            },
            registrarPersona(){
                if (this.validarPersona()){
                    return;
                }
                
                let me = this;

                axios.post('/user/registrar',{
                    'nombre': this.nombre,
                    'paterno': this.paterno,
                    'materno': this.materno,
                    'estado_civil': this.estado_civil,
                    'sexo': this.sexo,
                    'fecha_nac': this.fecha_nac,
                    'num_documento' : this.num_documento,
                    'direccion' : this.direccion,
                    'telefono' : this.telefono,
                    'email' : this.email,
                    'observacion' : this.observacion,
                    'idrol' : this.idrol,
                    'usuario': this.usuario,
                    'password': this.password

                }).then(function (response) {
                    me.cerrarModal();
                    me.listarPersona(1,'','nombre');
                }).catch(function (error) {
                    console.log(error);
                });
            },
            actualizarPersona(){
               if (this.validarPersona()){
                    return;
                }
                
                let me = this;

                axios.put('/user/actualizar',{
                    'nombre': this.nombre,
                    'paterno': this.paterno,
                    'materno': this.materno,
                    'estado_civil': this.estado_civil,
                    'sexo': this.sexo,
                    'fecha_nac': this.fecha_nac,
                    'num_documento' : this.num_documento,
                    'direccion' : this.direccion,
                    'telefono' : this.telefono,
                    'email' : this.email,
                    'observacion' : this.observacion,
                    'idrol' : this.idrol,
                    'usuario': this.usuario,
                    'password': this.password,
                    'id': this.persona_id
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarPersona(1,'','nombre');
                }).catch(function (error) {
                    console.log(error);
                }); 
            },
            validarPersona(){
                this.errorPersona=0;
                this.errorMostrarMsjPersona =[];

                if (!this.nombre) this.errorMostrarMsjPersona.push("El nombre de la pesona no puede estar vacío.");
                if (!this.usuario) this.errorMostrarMsjPersona.push("El nombre de usuario no puede estar vacío.");
                if (!this.password) this.errorMostrarMsjPersona.push("La password del usuario no puede estar vacía.");
                if (this.idrol==0) this.errorMostrarMsjPersona.push("Seleccione una Role.");
                if (this.errorMostrarMsjPersona.length) this.errorPersona = 1;

                return this.errorPersona;
            },
            cerrarModal(){
                $('.modal').modal('hide');
                this.tituloModal='';
                this.nombre='';
                this.paterno='';
                this.materno='';
                this.estado_civil='';
                this.sexo='';
                this.fecha_nac='';
                this.tipo_documento='DNI';
                this.num_documento='';
                this.direccion='';
                this.telefono='';
                this.email='';
                this.observacion='';
                this.usuario='';
                this.password='';
                this.idrol=0;
                this.errorPersona=0;
            },
            abrirModal(modelo, accion, data = []){
                this.selectRol();
                switch(modelo){
                    case "persona":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                  $('#modusers').modal('show');
                                this.tituloModal = 'Registrar Usuario';
                                this.nombre= '';
                                this.paterno= '';
                                this.materno= '';
                                this.estado_civil= '';
                                this.sexo= '';
                                this.fecha_nac= '';
                                this.num_documento='';
                                this.direccion='';
                                this.telefono='';
                                this.email='';
                                this.observacion='';
                                this.usuario='';
                                this.password='';
                                this.idrol=0;
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            {
                                //console.log(data);
                                $('#modusers').modal('show');
                                this.tituloModal='Actualizar Usuario';
                                this.tipoAccion=2;
                                this.persona_id=data['id'];
                                this.nombre = data['nombre'];
                                this.paterno = data['paterno'];
                                this.materno = data['materno'];
                                this.estado_civil = data['estado_civil'];
                                this.sexo = data['sexo'];
                                this.fecha_nac = data['fecha_nac'];
                                this.num_documento = data['num_documento'];
                                this.direccion = data['direccion'];
                                this.telefono = data['telefono'];
                                this.email = data['email'];
                                 this.observacion = data['observacion'];
                                this.usuario = data['usuario'];
                                this.password=data['password'];
                                this.idrol=data['idrol'];
                                break;
                            }
                        }
                    }
                }
            },
            desactivarUsuario(id){
               swal({
                title: 'Esta seguro de desactivar este usuario?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/user/desactivar',{
                        'id': id
                    }).then(function (response) {
                        me.listarPersona(1,'','nombre');
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            activarUsuario(id){
               swal({
                title: 'Esta seguro de activar este usuario?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/user/activar',{
                        'id': id
                    }).then(function (response) {
                        me.listarPersona(1,'','nombre');
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
        },
        mounted() {
            this.listarPersona(1,this.buscar,this.criterio); 
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
